;*, *::after, *::before {
    box-sizing: border-box;
  }
  :root {
      --box-size: 100px;
      --dash-size: calc(var(--box-size) * 0.9);
  }

  body {
      margin: 0;
      padding: 0;
  }

  .title {
      margin-top: 20px;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .title-red{
      color: red;
  }
  .title-blue{
      color: blue;
  }
  .title-green{
      color: green;
  }

  .game-board {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
  }

  .tick-box {
      width: var(--box-size);
      height: var(--box-size);
      border: 3px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
  }

  .tick-box:first-child, .tick-box:nth-child(2), .tick-box:nth-child(3) {
      border-top: none;
  }
  
  .tick-box:nth-child(7), .tick-box:nth-child(8), .tick-box:nth-child(9) {
      border-bottom: none;
  }

  .tick-box:first-child, .tick-box:nth-child(4), .tick-box:nth-child(7) {
      border-left: none;
  }

  .tick-box:nth-child(3), .tick-box:nth-child(6), .tick-box:nth-child(9) {
    border-right: none;
}

.tick-box.X::before,
.tick-box.X::after {
    content: '';
    position: absolute;
    width: calc(var(--dash-size) * .15);
    height: var(--dash-size);
}

.tick-box.X::before {
    transform: rotate(45deg);
    background-color: red;
}

.tick-box.X::after {
    transform: rotate(-45deg);
    background-color: green;
}


.tick-box.circle::before,
.tick-box.circle::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: black;
}

.tick-box.circle::before {
    height: var(--dash-size);
    width: var(--dash-size);
    background-color: blue;
}

.tick-box.circle::after {
    height: calc(var(--dash-size) * .7);
    width: calc(var(--dash-size) * .7);
    background-color: white;
}

.user-result-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 3rem;
}

.user-result-message button:nth-child(2) {
    margin-top: 100px;
}

.user-result-message button {
    font-size: 2rem;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 15px;
}

.user-result-message button:hover {
    background-color: white;
    color: royalblue;
    border: 1px solid black;
} 
a { 
    color: inherit; 
    text-decoration: none;
} 

.user-result-message.display {
    display: flex;
}
